server:
  port: 8080

spring:
  application:
    name: taskforge 
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}
    expiration-ms: ${SECURITY_JWT_EXPIRATION-MS}

dotenv:
  enabled: true
