.accueil-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.accueil-container h1 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 1px;
}

.brand {
  color: #3098dc;
}
